.bg-brown {
    background-color: #2d2013;
}
.text-white {
    color: white;
}
.meal {
    width: 180px;
    height: 180px;
    border: 4px solid white;
    margin-top: 5%;
}
body {
    color:white;
}
.m-91 {
    margin: 0.0001px !important;
}
#single-meal-img{
    justify-content: center;
}